//Шапка
.page-header {
position: relative;
}
.page-header__logo {
  display: flex;
  justify-content: center;
  height: 84px;
}
.page-header__menu {
position: absolute;
top: 17px;
right: 17px;
}
.page-header__wrap {
  position: relative;
  width: 320px;
  height: 361px;
}
.page-header__img {
    display: block;
  position: absolute;
  top: -28px;
  width: 320px;
  height: 389px;
  background-image: data-uri("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
  z-index: -1;
}
.page-main__title p {
  line-height: 24px;
}
