html, body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}
body {
  font-family: "PT Sans Regular", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: @text;
  text-transform: uppercase;
  background-color: @white;
}

p {
  font-size: 14px;
  line-height: 1.5;
}
.page-body {
  background-color: #E7E5E5;;
}
.page-wrap {
  max-width: 320px;
  background-color: #fff;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  margin: 0 auto;
  padding-left: auto;
  padding-right: auto;
 }

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @black;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.button {
  padding: 15px 32px 17px 32px;
  background-color: @blue;
  text-align: center;
  cursor: pointer;

  a {
    font-family: "PT Sans Bold", "Arial", sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: @white;
  }
}

.button-social {
  width: 46px;
  height: 48px;
  margin-left: 6px;
  background-color: @blue;
  cursor: pointer;
}

.button-social:hover {

  background-color: #669EC0;
}

.button-social:active {

  background-color: #5496BD;
}

.social-link--twitter::after {
  content: "";
  background-image: url("../../img/icon/icon-twitter.svg");
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 18px;
  height: 15px;
  background-size: 18px 15px;
  z-index: 1;
}
.social-link--twitter:active::after,
.social-link--facebook:active::after,
.social-link--youtube:active::after
 {
 opacity: 0.3;
}
.social-link--facebook::after {
  content: "";
  background-image: url("../../img/icon/icon-facebook.svg");
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 9px;
  height: 19px;
  background-size: 9px 19px;
  z-index: 1;
  cursor: pointer;
}

.social-link--youtube::after {
  content: "";
  background-image: url("../../img/icon/icon-youtube.svg");
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 20px;
  height: 14px;
  background-size: 20px 14px;
  z-index: 1;
  cursor: pointer;
}

.page-main__wrap {
  margin: 0 20px;
}

.line {
  width: 320px;
  height: 1px;
  background-color: #E5E5E5;
  margin: 0 auto 20px;
  }

     // Media

     // Mobile
     @media (max-width: @mobile-width-only)
     {

     }

     // Tablet

  @media (min-width: @tablet-width) {
    .page-body {
      background-color: #E7E5E5;;
    }
    .page-wrap {
      background-color: #fff;
      box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
      max-width: 768px;
      margin: 0 auto;
      padding-left: auto;
      padding-right: auto;
    }
    }

    // Desktop

    @media (min-width: @desktop-width) {
      .page-body {
        background-color: #E7E5E5;
         }
      .page-wrap {
        background-color: #fff;
        box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
        max-width: 1200px;
        margin: 0 auto;
        padding-left: auto;
        padding-right: auto;
      }
    }
